.card{
    display: flex;
    width: 250px;
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 10px;
}
.card img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
